*.dosya_uzantısı filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
Örneğin: filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
